@model WhileImHere.Models.Location

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit City/Town</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="LocationID" />
            <div class="form-group">
                <label asp-for="LocationName" class="control-label">Name</label>
                <input asp-for="LocationName" class="form-control" />
                <span asp-validation-for="LocationName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocationRadius" class="control-label">Notification Radius (km)</label>
                <input asp-for="LocationRadius" class="form-control" />
                <span asp-validation-for="LocationRadius" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocationPriority" class="control-label">Priority</label>
                <input asp-for="LocationPriority" class="form-control" />
                <span asp-validation-for="LocationPriority" class="text-danger"></span>
            </div>
            <div class="btnpadding form-group">
                <input type="submit" value="Save" class=" btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
